In [1]:
import numpy
import pandas

In [2]:
from nba_api.stats.endpoints import scoreboard, boxscoresummaryv2

In [3]:
board = scoreboard.Scoreboard(day_offset=-1)
board.line_score.get_data_frame()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2018-10-27T00:00:00,1,0021800074,3,Final,20181027/BOSDET,1610612765,1610612738,2018,4,,None,Q4 -,1
1,2018-10-27T00:00:00,2,0021800075,3,Final,20181027/UTANOP,1610612740,1610612762,2018,4,,None,Q4 -,1
2,2018-10-27T00:00:00,3,0021800076,3,Final,20181027/CHIATL,1610612737,1610612741,2018,4,,None,Q4 -,1
3,2018-10-27T00:00:00,4,0021800077,3,Final,20181027/INDCLE,1610612739,1610612754,2018,4,,None,Q4 -,1
4,2018-10-27T00:00:00,5,0021800078,3,Final,20181027/CHAPHI,1610612755,1610612766,2018,4,,None,Q4 -,1
5,2018-10-27T00:00:00,6,0021800079,3,Final,20181027/PORMIA,1610612748,1610612757,2018,4,,None,Q4 -,1
6,2018-10-27T00:00:00,7,0021800080,3,Final,20181027/PHXMEM,1610612763,1610612756,2018,4,,None,Q4 -,1
7,2018-10-27T00:00:00,8,0021800081,3,Final,20181027/ORLMIL,1610612749,1610612753,2018,4,,None,Q4 -,1
8,2018-10-27T00:00:00,9,0021800082,3,Final,20181027/LALSAS,1610612759,1610612747,2018,4,,None,Q4 -,1

In [4]:
board = scoreboard.Scoreboard()
board.game_header.get_data_frame()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2018-10-28T00:00:00,1,0021800083,2,2nd Qtr,20181028/GSWBKN,1610612751,1610612744,2018,2,5:06,None,Q2 5:06 -,0
1,2018-10-28T00:00:00,2,0021800084,1,7:00 pm ET,20181028/UTADAL,1610612742,1610612762,2018,0,,None,Q0 -,0
2,2018-10-28T00:00:00,3,0021800085,1,7:00 pm ET,20181028/PHXOKC,1610612760,1610612756,2018,0,,None,Q0 -,0
3,2018-10-28T00:00:00,4,0021800086,1,9:30 pm ET,20181028/WASLAC,1610612746,1610612764,2018,0,,None,Q0 -,0

In [8]:
board = scoreboard.Scoreboard(day_offset=-1)
board.available.get_data_frame()

      GAME_ID  PT_AVAILABLE
0  0021800040             1
1  0021800041             1
2  0021800043             1
3  0021800045             1
4  0021800042             1
5  0021800044             1
6  0021800047             1
7  0021800046             1
8  0021800048             1

In [5]:
today_games = board.available.get_data_frame()['GAME_ID']

In [11]:
boxscoresummaryv2.BoxScoreSummaryV2(today_games[0]).line_score.get_data_frame()
#raw_scorelines = [boxscore.line_score.get_data_frame() for boxscore in boxscores]
#scorelines = [scoreline[['TEAM_ABBREVIATION', 'TEAM_CITY_NAME','TEAM_NICKNAME', 'TEAM_WINS_LOSSES','PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3','PTS_QTR4','PTS_OT1','PTS_OT2']] for scoreline in raw_scorelines]
#daily_stats = [boxscore.other_stats.get_data_frame() for boxscore in boxscores]

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NICKNAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS
0,2018-10-28T00:00:00,1,0021800083,1610612751,BKN,Brooklyn,Nets,2-3,29,18,...,0,0,0,0,0,0,0,0,0,47
1,2018-10-28T00:00:00,1,0021800083,1610612744,GSW,Golden State,Warriors,5-1,32,31,...,0,0,0,0,0,0,0,0,0,63

In [78]:
board = scoreboard.Scoreboard(day_offset=-1)
yesterday_games = board.available.get_data_frame()['GAME_ID']

In [79]:
for game in yesterday_games:
    print(game)

0021800036
0021800037
0021800038
0021800039

In [80]:
raw_scorelines = [boxscoresummaryv2.BoxScoreSummaryV2(game).line_score.get_data_frame() for game in yesterday_games]

In [81]:
scorelines = [scoreline[['TEAM_ABBREVIATION', 'TEAM_CITY_NAME','TEAM_NICKNAME', 'TEAM_WINS_LOSSES','PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3','PTS_QTR4','PTS_OT1','PTS_OT2']] for scoreline in raw_scorelines]

In [84]:
raw_stats = [boxscoresummaryv2.BoxScoreSummaryV2(game).other_stats.get_data_frame() for game in yesterday_games]

In [85]:
raw_stats

[  LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  TEAM_CITY  PTS_PAINT  \
 0        00  1610612737               ATL    Atlanta         52
 1        00  1610612739               CLE  Cleveland         44

    PTS_2ND_CHANCE  PTS_FB  LARGEST_LEAD  LEAD_CHANGES  TIMES_TIED  \
 0              11      11            22             3           5
 1              23      10            15             3           5

    TEAM_TURNOVERS  TOTAL_TURNOVERS  TEAM_REBOUNDS  PTS_OFF_TO
 0               0               12              9          15
 1               0               18             10          23  ,
   LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION      TEAM_CITY  PTS_PAINT  \
 0        00  1610612758               SAC     Sacramento         68
 1        00  1610612760               OKC  Oklahoma City         68

    PTS_2ND_CHANCE  PTS_FB  LARGEST_LEAD  LEAD_CHANGES  TIMES_TIED  \
 0               7      18            17             7           7
 1              29      19             3             7           7

    TEAM_TURNOVERS  TOTAL_TURNOVERS  TEAM_REBOUNDS  PTS_OFF_TO
 0               3               20              8          26
 1               0               18             12          28  ,
   LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION     TEAM_CITY  PTS_PAINT  \
 0        00  1610612743               DEN        Denver         48
 1        00  1610612744               GSW  Golden State         44

    PTS_2ND_CHANCE  PTS_FB  LARGEST_LEAD  LEAD_CHANGES  TIMES_TIED  \
 0              11      17            13             8           9
 1              12      11            12             8           9

    TEAM_TURNOVERS  TOTAL_TURNOVERS  TEAM_REBOUNDS  PTS_OFF_TO
 0               2               10             19          12
 1               1               19             11          19  ,
   LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION TEAM_CITY  PTS_PAINT  \
 0        00  1610612746               LAC        LA         64
 1        00  1610612745               HOU   Houston         54

    PTS_2ND_CHANCE  PTS_FB  LARGEST_LEAD  LEAD_CHANGES  TIMES_TIED  \
 0              19      13            11            18           8
 1              10      15             5            18           8

    TEAM_TURNOVERS  TOTAL_TURNOVERS  TEAM_REBOUNDS  PTS_OFF_TO
 0               0               13              5          18
 1               0               12              8          25  ]

In [55]:
from nba_api.stats.endpoints import playbyplayv2, boxscoretraditionalv2 #0021800083

In [95]:
current = playbyplayv2.PlayByPlayV2(game_id='0021800083')

In [96]:
current.get_data_frames()

[Empty DataFrame
 Columns: [GAME_ID, EVENTNUM, EVENTMSGTYPE, EVENTMSGACTIONTYPE, PERIOD, WCTIMESTRING, PCTIMESTRING, HOMEDESCRIPTION, NEUTRALDESCRIPTION, VISITORDESCRIPTION, SCORE, SCOREMARGIN, PERSON1TYPE, PLAYER1_ID, PLAYER1_NAME, PLAYER1_TEAM_ID, PLAYER1_TEAM_CITY, PLAYER1_TEAM_NICKNAME, PLAYER1_TEAM_ABBREVIATION, PERSON2TYPE, PLAYER2_ID, PLAYER2_NAME, PLAYER2_TEAM_ID, PLAYER2_TEAM_CITY, PLAYER2_TEAM_NICKNAME, PLAYER2_TEAM_ABBREVIATION, PERSON3TYPE, PLAYER3_ID, PLAYER3_NAME, PLAYER3_TEAM_ID, PLAYER3_TEAM_CITY, PLAYER3_TEAM_NICKNAME, PLAYER3_TEAM_ABBREVIATION]
 Index: []

 [0 rows x 33 columns],    VIDEO_AVAILABLE_FLAG
 0                     1]

In [56]:
dir(boxscoretraditionalv2)

['BoxScoreTraditionalV2',
 'EndPeriod',
 'EndRange',
 'Endpoint',
 'NBAStatsHTTP',
 'RangeType',
 'StartPeriod',
 'StartRange',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

In [98]:
boxscoresummaryv2.BoxScoreSummaryV2('0021800083').team_stats.get_data_frame()

AttributeError: 'BoxScoreSummaryV2' object has no attribute 'team_stats'

In [61]:
board.line_score.get_data_frame()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2018-10-28T00:00:00,1,0021800083,1610612744,GSW,Golden State,5-1,32.0,16.0,0.0,...,0.0,0.0,0.0,48.0,0.594,0.75,0.500,13.0,19.0,6.0
1,2018-10-28T00:00:00,1,0021800083,1610612751,BKN,Brooklyn,2-3,29.0,10.0,0.0,...,0.0,0.0,0.0,39.0,0.389,0.60,0.444,10.0,14.0,5.0
2,2018-10-28T00:00:00,2,0021800084,1610612742,DAL,Dallas,2-3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-10-28T00:00:00,2,0021800084,1610612762,UTA,Utah,3-2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-28T00:00:00,3,0021800085,1610612760,OKC,Oklahoma City,0-4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018-10-28T00:00:00,3,0021800085,1610612756,PHX,Phoenix,1-4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018-10-28T00:00:00,4,0021800086,1610612746,LAC,LA,3-2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018-10-28T00:00:00,4,0021800086,1610612764,WAS,Washington,1-4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
dir(board)

['DataSet',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'available',
 'data_sets',
 'east_conf_standings_by_day',
 'endpoint',
 'expected_data',
 'game_header',
 'get_available_data',
 'get_data_frames',
 'get_dict',
 'get_json',
 'get_normalized_dict',
 'get_normalized_json',
 'get_request_url',
 'get_response',
 'last_meeting',
 'line_score',
 'nba_response',
 'series_standings',
 'west_conf_standings_by_day']

In [68]:
sets = board.data_sets

In [70]:
frames = [set.get_data_frame() for set in sets]

In [99]:
sets = boxscoretraditionalv2.BoxScoreTraditionalV2('0021800083').data_sets

In [100]:
frames = [set.get_data_frame() for set in sets]

In [101]:
frames[0]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0021800083,1610612744,GSW,Golden State,201142,Kevin Durant,F,,39:08,11.0,...,0.0,8.0,8.0,6.0,1.0,1.0,3.0,0.0,34.0,-2.0
1,0021800083,1610612744,GSW,Golden State,203110,Draymond Green,F,,36:19,4.0,...,1.0,3.0,4.0,13.0,5.0,0.0,1.0,1.0,8.0,-8.0
2,0021800083,1610612744,GSW,Golden State,1627745,Damian Jones,C,,11:35,1.0,...,1.0,0.0,1.0,1.0,1.0,2.0,2.0,4.0,2.0,-6.0
3,0021800083,1610612744,GSW,Golden State,202691,Klay Thompson,G,,35:35,8.0,...,2.0,3.0,5.0,0.0,1.0,1.0,1.0,4.0,18.0,-5.0
4,0021800083,1610612744,GSW,Golden State,201939,Stephen Curry,G,,36:16,11.0,...,1.0,6.0,7.0,3.0,1.0,0.0,2.0,1.0,35.0,11.0
5,0021800083,1610612744,GSW,Golden State,1626172,Kevon Looney,,,12:25,2.0,...,2.0,1.0,3.0,0.0,0.0,0.0,2.0,1.0,4.0,11.0
6,0021800083,1610612744,GSW,Golden State,1628980,Jacob Evans,,,6:27,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0
7,0021800083,1610612744,GSW,Golden State,201973,Jonas Jerebko,,,15:21,0.0,...,0.0,6.0,6.0,2.0,0.0,0.0,0.0,0.0,4.0,7.0
8,0021800083,1610612744,GSW,Golden State,2738,Andre Iguodala,,,19:52,2.0,...,3.0,2.0,5.0,2.0,1.0,1.0,0.0,2.0,4.0,3.0
9,0021800083,1610612744,GSW,Golden State,1628035,Alfonzo McKinnie,,,16:53,4.0,...,1.0,4.0,5.0,0.0,1.0,1.0,1.0,2.0,9.0,12.0
10,0021800083,1610612744,GSW,Golden State,1628395,Jordan Bell,,,10:09,1.0,...,1.0,2.0,3.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0
11,0021800083,1610612744,GSW,Golden State,1626188,Quinn Cook,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0021800083,1610612751,BKN,Brooklyn,203925,Joe Harris,F,,29:40,2.0,...,1.0,2.0,3.0,3.0,0.0,0.0,2.0,4.0,7.0,1.0
13,0021800083,1610612751,BKN,Brooklyn,201162,Jared Dudley,F,,21:57,3.0,...,2.0,4.0,6.0,2.0,3.0,0.0,1.0,1.0,6.0,10.0
14,0021800083,1610612751,BKN,Brooklyn,1628386,Jarrett Allen,C,,28:50,5.0,...,0.0,3.0,3.0,4.0,1.0,2.0,1.0,0.0,11.0,14.0
15,0021800083,1610612751,BKN,Brooklyn,1627747,Caris LeVert,G,,30:10,9.0,...,0.0,3.0,3.0,7.0,0.0,0.0,3.0,2.0,23.0,9.0
16,0021800083,1610612751,BKN,Brooklyn,1626156,D'Angelo Russell,G,,29:30,9.0,...,0.0,6.0,6.0,6.0,0.0,1.0,5.0,3.0,25.0,7.0
17,0021800083,1610612751,BKN,Brooklyn,203915,Spencer Dinwiddie,,,23:30,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,12.0,-23.0
18,0021800083,1610612751,BKN,Brooklyn,203459,Allen Crabbe,,,27:43,4.0,...,0.0,5.0,5.0,2.0,0.0,0.0,1.0,5.0,14.0,-4.0
19,0021800083,1610612751,BKN,Brooklyn,1626178,Rondae Hollis-Jefferson,,,17:11,3.0,...,0.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,7.0,-19.0
20,0021800083,1610612751,BKN,Brooklyn,202334,Ed Davis,,,17:29,2.0,...,1.0,6.0,7.0,1.0,0.0,0.0,0.0,2.0,4.0,-14.0
21,0021800083,1610612751,BKN,Brooklyn,203894,Shabazz Napier,,,14:00,1.0,...,0.0,1.0,1.0,3.0,0.0,0.0,1.0,0.0,5.0,-11.0
22,0021800083,1610612751,BKN,Brooklyn,202702,Kenneth Faried,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0021800083,1610612751,BKN,Brooklyn,1629058,Dzanan Musa,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
from nba_api.stats.endpoints import playerfantasyprofile

In [88]:
dir(playerfantasyprofile)

['Endpoint',
 'LeagueIDNullable',
 'MeasureTypeBase',
 'NBAStatsHTTP',
 'PaceAdjustNo',
 'PerMode36',
 'PlayerFantasyProfile',
 'PlusMinusNo',
 'RankNo',
 'Season',
 'SeasonType',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

In [104]:
import requests
import time
import json
stats_header = {'Host': 'data.nba.com', 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36', 'Accept': 'application/json, text/plain, */*', 'Accept-Language': 'en-US,en;q=0.5', 'Accept-Encoding': 'gzip, deflate, br', 'Connection': 'keep-alive'}
url = 'https://data.nba.com/data/5s/v2015/json/mobile_teams/nba/2018/scores/00_todays_scores.json'

In [106]:
for i in range(0,10000):
    r = requests.get(url, headers=stats_header)
    print(r.json())
    time.sleep(2)

{'gs': {'mid': 1540778279153, 'gdte': '2018-10-28', 'next': 'http://data.nba.com/data/v2015/json/mobile_teams/nba/2018/scores/00_todays_scores', 'g': [{'gid': '0021800083', 'gcode': '20181028/GSWBKN', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'GSW leads series 1-0', 'gid': ''}, 'v': {'ta': 'GSW', 'q1': 32, 's': 120, 'q2': 31, 'q3': 30, 'q4': 27, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Warriors', 'tc': 'Golden State', 'tid': 1610612744}, 'h': {'ta': 'BKN', 'q1': 29, 's': 114, 'q2': 20, 'q3': 28, 'q4': 37, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Nets', 'tc': 'Brooklyn', 'tid': 1610612751}}, {'gid': '0021800084', 'gcode': '20181028/UTADAL', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'Series tied 0-0', 'gid': ''}, 'v': {'ta': 'UTA', 'q1': 26, 's': 113, 'q2': 24, 'q3': 32, 'q4': 31, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Jazz', 'tc': 'Utah', 'tid': 1610612762}, 'h': {'ta': 'DAL', 'q1': 19, 's': 104, 'q2': 27, 'q3': 31, 'q4': 27, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Mavericks', 'tc': 'Dallas', 'tid': 1610612742}}, {'gid': '0021800085', 'gcode': '20181028/PHXOKC', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'Series tied 0-0', 'gid': ''}, 'v': {'ta': 'PHX', 'q1': 20, 's': 110, 'q2': 28, 'q3': 28, 'q4': 34, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Suns', 'tc': 'Phoenix', 'tid': 1610612756}, 'h': {'ta': 'OKC', 'q1': 30, 's': 117, 'q2': 32, 'q3': 34, 'q4': 21, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Thunder', 'tc': 'Oklahoma City', 'tid': 1610612760}}, {'gid': '0021800086', 'gcode': '20181028/WASLAC', 'p': 1, 'st': 2, 'stt': '1st Qtr', 'cl': '02:38', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': '', 'gid': ''}, 'v': {'ta': 'WAS', 'q1': 16, 's': 16, 'q2': 0, 'q3': 0, 'q4': 0, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Wizards', 'tc': 'Washington', 'tid': 1610612764}, 'h': {'ta': 'LAC', 'q1': 19, 's': 19, 'q2': 0, 'q3': 0, 'q4': 0, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Clippers', 'tc': 'LA', 'tid': 1610612746}}]}}
{'gs': {'mid': 1540778279153, 'gdte': '2018-10-28', 'next': 'http://data.nba.com/data/v2015/json/mobile_teams/nba/2018/scores/00_todays_scores', 'g': [{'gid': '0021800083', 'gcode': '20181028/GSWBKN', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'GSW leads series 1-0', 'gid': ''}, 'v': {'ta': 'GSW', 'q1': 32, 's': 120, 'q2': 31, 'q3': 30, 'q4': 27, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Warriors', 'tc': 'Golden State', 'tid': 1610612744}, 'h': {'ta': 'BKN', 'q1': 29, 's': 114, 'q2': 20, 'q3': 28, 'q4': 37, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Nets', 'tc': 'Brooklyn', 'tid': 1610612751}}, {'gid': '0021800084', 'gcode': '20181028/UTADAL', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'Series tied 0-0', 'gid': ''}, 'v': {'ta': 'UTA', 'q1': 26, 's': 113, 'q2': 24, 'q3': 32, 'q4': 31, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Jazz', 'tc': 'Utah', 'tid': 1610612762}, 'h': {'ta': 'DAL', 'q1': 19, 's': 104, 'q2': 27, 'q3': 31, 'q4': 27, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Mavericks', 'tc': 'Dallas', 'tid': 1610612742}}, {'gid': '0021800085', 'gcode': '20181028/PHXOKC', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'Series tied 0-0', 'gid': ''}, 'v': {'ta': 'PHX', 'q1': 20, 's': 110, 'q2': 28, 'q3': 28, 'q4': 34, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Suns', 'tc': 'Phoenix', 'tid': 1610612756}, 'h': {'ta': 'OKC', 'q1': 30, 's': 117, 'q2': 32, 'q3': 34, 'q4': 21, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Thunder', 'tc': 'Oklahoma City', 'tid': 1610612760}}, {'gid': '0021800086', 'gcode': '20181028/WASLAC', 'p': 1, 'st': 2, 'stt': '1st Qtr', 'cl': '02:38', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': '', 'gid': ''}, 'v': {'ta': 'WAS', 'q1': 16, 's': 16, 'q2': 0, 'q3': 0, 'q4': 0, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Wizards', 'tc': 'Washington', 'tid': 1610612764}, 'h': {'ta': 'LAC', 'q1': 19, 's': 19, 'q2': 0, 'q3': 0, 'q4': 0, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Clippers', 'tc': 'LA', 'tid': 1610612746}}]}}
{'gs': {'mid': 1540778279153, 'gdte': '2018-10-28', 'next': 'http://data.nba.com/data/v2015/json/mobile_teams/nba/2018/scores/00_todays_scores', 'g': [{'gid': '0021800083', 'gcode': '20181028/GSWBKN', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'GSW leads series 1-0', 'gid': ''}, 'v': {'ta': 'GSW', 'q1': 32, 's': 120, 'q2': 31, 'q3': 30, 'q4': 27, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Warriors', 'tc': 'Golden State', 'tid': 1610612744}, 'h': {'ta': 'BKN', 'q1': 29, 's': 114, 'q2': 20, 'q3': 28, 'q4': 37, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Nets', 'tc': 'Brooklyn', 'tid': 1610612751}}, {'gid': '0021800084', 'gcode': '20181028/UTADAL', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'Series tied 0-0', 'gid': ''}, 'v': {'ta': 'UTA', 'q1': 26, 's': 113, 'q2': 24, 'q3': 32, 'q4': 31, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Jazz', 'tc': 'Utah', 'tid': 1610612762}, 'h': {'ta': 'DAL', 'q1': 19, 's': 104, 'q2': 27, 'q3': 31, 'q4': 27, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Mavericks', 'tc': 'Dallas', 'tid': 1610612742}}, {'gid': '0021800085', 'gcode': '20181028/PHXOKC', 'p': 4, 'st': 3, 'stt': 'Final', 'cl': '00:00.0', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': 'Series tied 0-0', 'gid': ''}, 'v': {'ta': 'PHX', 'q1': 20, 's': 110, 'q2': 28, 'q3': 28, 'q4': 34, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Suns', 'tc': 'Phoenix', 'tid': 1610612756}, 'h': {'ta': 'OKC', 'q1': 30, 's': 117, 'q2': 32, 'q3': 34, 'q4': 21, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Thunder', 'tc': 'Oklahoma City', 'tid': 1610612760}}, {'gid': '0021800086', 'gcode': '20181028/WASLAC', 'p': 1, 'st': 2, 'stt': '1st Qtr', 'cl': '02:38', 'seq': 0, 'lm': {'gdte': '', 'gres': '', 'seri': '', 'gid': ''}, 'v': {'ta': 'WAS', 'q1': 16, 's': 16, 'q2': 0, 'q3': 0, 'q4': 0, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Wizards', 'tc': 'Washington', 'tid': 1610612764}, 'h': {'ta': 'LAC', 'q1': 19, 's': 19, 'q2': 0, 'q3': 0, 'q4': 0, 'ot1': 0, 'ot2': 0, 'ot3': 0, 'ot4': 0, 'ot5': 0, 'ot6': 0, 'ot7': 0, 'ot8': 0, 'ot9': 0, 'ot10': 0, 'tn': 'Clippers', 'tc': 'LA', 'tid': 1610612746}}]}}